<link rel="stylesheet" type="text/css" href="css/import/tmp_new.css">
<link rel="stylesheet" type="text/css" href="css/import/default.css">
<script type="text/javascript" src="/public/src/js/g-ui.js"></script>

<h1>UI Components</h1>
<section>
	<h2>Common JS/CSS</h2>
	<pre class="html">
<!-- 관련 CSS -->
<link rel="stylesheet" type="text/css" href="http://devimage.gsshop.com/mi13/css2/tmp.css" />		
<!-- 스크립트선언 -->
<!--link rel="stylesheet" type="text/css" href="http://devimage.gsshop.com/mi13/js/global-2.0.js" /-->
	</pre>

</section> 

<section>

	<h2>Input</h2>
	<!-- 기본input -->
	<h3 class="design-view"><span>Case1</span></h3>
	<div class="cpn-ex">
		<div class="unit"><strong class="inblock pt13" style="width:70px">기본형 :</strong> <input type="text" class="tmp-input" placeholder="내용을 입력하세요" /></div>
		<div class="unit"><strong class="inblock pt13" style="width:70px">활성화 :</strong> <input type="text" class="tmp-input focus" value="활성화"  /></div>
		<div class="unit"><strong class="inblock pt13" style="width:70px">입력불가 :</strong> <input type="text" class="tmp-input disabled" value="입력불가" disabled="disabled" /></div>
		<div class="unit"><strong class="inblock pt13" style="width:70px">입력오류 :</strong> <input type="text" class="tmp-input error" value="입력오류" /></div>

		<div class="unit"><strong class="inblock pt13" style="width:70px">높이값 24 :</strong> <input type="text" class="tmp-input small" placeholder="Class small" style="width:226px" /></div>
		<div class="unit"><strong class="inblock pt13" style="width:70px">높이값 30 :</strong> <input type="text" class="tmp-input mid" placeholder="Class mid" style="width:220px"/></div>
		<div class="unit"><strong class="inblock pt13" style="width:70px">높이값 40 :</strong> <input type="text" class="tmp-input" placeholder="Default Size" style="width:220px"/></div>
		<div class="unit"><strong class="inblock pt13" style="width:70px">높이값 50 :</strong> <input type="text" class="tmp-input big" placeholder="Class big" style="width:220px"/></div>

		<div class="unit"><strong class="inblock pt13" style="width:70px">숫자만 :</strong> <input type="text" class="tmp-input only-num"  value="1560" /></div>
		<div class="unit"><strong class="inblock pt13" style="width:70px">단위변환 :</strong> <input type="text" class="tmp-input only-price" value="542000" /></div>
	</div>
	<pre class="html">
Default
<input type="text" class="tmp-input" placeholder="내용을 입력하세요" />  기본 클래스 : tmp-input

Option/Expand
<input type="text" class="tmp-input focus" placeholder="내용을 입력하세요" /><!-- 클래스 focus 추가 -->
<input type="text" class="tmp-input disabled" placeholder="Disabled" disabled="disabled" /><!-- 클래스 disabled 추가 -->
<input type="text" class="tmp-input error" placeholder="Error" /><!-- 클래스 error 추가 -->

<input type="text" class="tmp-input small" placeholder="내용을 입력하세요" /><!-- 클래스 small 추가 -->
<input type="text" class="tmp-input mid" placeholder="내용을 입력하세요" /><!-- 클래스 mid 추가 -->
<input type="text" class="tmp-input" placeholder="내용을 입력하세요" /><!-- 기본 -->
<input type="text" class="tmp-input big" placeholder="내용을 입력하세요" /> <!-- 클래스 big 추가 -->

<input type="text" class="tmp-input only-num"  value="1560" /><!-- 클래스 only-num 추가 -->
<input type="text" class="tmp-input only-price"  value="542000" /><!-- 클래스 only-price 추가 -->
	</pre>
	
	<!-- 수량변경 -->
	<h3 class="design-view"><span>Case2</span></h3>
	<div class="cpn-ex">
		<div class="mobile-nowrap">
			<span class="tmp-cnt-box">
				<input type="text" class="tmp-input mid num-only" value="1" />
				<a class="tmp-btn type-ico mid plus" href="javascript:;" role="button"><span class="tmp-ico v18">수량 올림</span></a>
				<a class="tmp-btn type-ico mid minus" href="javascript:;" role="button"><span  class="tmp-ico v17">수량 내림</span></a>
			</span>
		</div>
	</div>

	<pre class="html">
Default
<span class="tmp-cnt-box">
	<input type="text" class="tmp-input num-only" value="1" />
	<a class="tmp-btn type-ico plus" href="javascript:;" role="button"><span class="tmp-ico v9">수량 올림</span></a>
	<a class="tmp-btn type-ico minus" href="javascript:;" role="button"><span  class="tmp-ico v10">수량 내림</span></a>
</span>
	</pre>

	<!-- 수량변경 아이콘 사이즈 -->
	<h3 class="design-view"><span>Case3</span></h3>
	<div class="cpn-ex">
		<p class="add-option">글자 입력시 지우기 버튼 또는 validation 상태 노출</p>
		<div class="input-wrap mgb10">
			<input type="text" class="tmp-input" placeholder="내용을 입력하세요" style="width:260px" value="내용 입력중" />
			<button class="tmp-ico v19 absolute pos-e del">지우기</button>
		</div>
		<div class="input-wrap srch mgb10">
			<label class="tmp-ico v16 absolute" for="srch">검색</label>
			<input type="text" id="srch" class="tmp-input pdl30" placeholder="검색어를 입력하세요" value="검색어 입력중" style="width:240px" />
			<button class="tmp-ico v19 absolute pos-e del">지우기</button>
		</div>
	</div>
	<pre class="html">
Default
<div class="input-wrap">
	<input type="text" class="tmp-input" placeholder="내용을 입력하세요" style="width:260px" value="내용 입력중" />
	<button class="tmp-ico v19 absolute pos-e del">지우기</button>
</div>
<div class="input-wrap srch">
	<label class="tmp-ico v16 absolute" for="srch">검색</label>
	<input type="text" id="srch" class="tmp-input pdl30" placeholder="검색어를 입력하세요" value="검색어 입력중" style="width:240px" />
	<button class="tmp-ico v19 absolute pos-e del">지우기</button>
</div>
	</pre>
</section>

<section>
	<h2>Textarea</h2>
	<!-- Default -->
	<h3 class="design-view"><span>Design View</span></h3>
	<div class="cpn-ex">
		<div class="textarea mgr10 mgb10" style="display:inline-block;width:400px;">
			<textarea name="any" id="any" cols="30" rows="4" placeholder="주민번호, 전화번호, 이메일 등의 개인정보를 입력할 경우 타인에 의해 도용될 위험이 있으니 주의해 주세요."></textarea>
			<div class="relative">
				<a class="btn-files" href="javascript:;"><i class="tmp-ico v10 left">이미지첨부</i></a>
				<span class="word-len"><em>0</em>/2000</span>
			</div>
		</div>

		<div class="textarea mgb10" style="display:inline-block;width:400px">
			<textarea name="" id="" cols="30" rows="4">지금 주문하면 금요일 전까지 받을 수 있나요?</textarea>
			<div class="relative">
				<a class="btn-files" href="javascript:;"><i class="tmp-ico v10 left">이미지첨부</i></a>
				<span class="word-len"><em>0</em>/2000</span>
			</div>
		</div>
	</div>
	<pre class="html">
Default
<div class="textarea">
	<textarea name="" id="" cols="30" rows="4" placeholder="내용을 입력해주세요."></textarea>
	<div class="relative">
		<a class="btn-files" href="javascript:;"><i class="tmp-ico v10 left">이미지첨부</i></a>
		<span class="word-len"><em>0</em>/2000</span>
	</div>
</div>
	</pre>

</section>
