<link rel="stylesheet" type="text/css" href="css/import/tmp_new.css">
<link rel="stylesheet" type="text/css" href="css/import/default.css">
<script type="text/javascript" src="/public/src/js/g-ui.js"></script>
<style type="text/css">
</style>


<h1>UI Component </h1>
<section>
	<h2>Icons</h2>
	<p class="txt">현재 Icon은 하위 브라우져(IE9이하) 대응을 위해 sprite 이미지를 사용하고 있습니다. <br>
	기본 클래스는 tmp-ico로 정의하고 특정 네이밍을 부여하지 않고 v1~32까지 정의되어 있습니다. <br>
	inline-block속성이고 가로새로 24x24이며, 태그는 웹표준에 맞지 않으나 icon의 시멘틱 개념으로 i를 사용하고 있습니다. <br>
	기본 컬러값 : #111, 투명도 : 0.5 (화이트/라임 해당사항 없음)

	<br><br>
	
	* mobile이나 modern 브라우져에서 사용될 아이콘 폰트 제작 준비중
	</p>
	<article>
		<div class="mgb30">
			<img src="/mi13/img/guide/g_icon01.jpg" alt="">
			<img src="/mi13/img/guide/g_icon02.jpg" alt="">
			<img src="/mi13/img/guide/g_icon03.jpg" alt="">
		</div>
		<div class="cpn-ex">
			<i class="tmp-ico v1 mgr10 mgb10"></i>
			<i class="tmp-ico v2 mgr10 mgb10"></i>
			<i class="tmp-ico v3 mgr10 mgb10"></i>
			<i class="tmp-ico v4 mgr10 mgb10"></i>
			<i class="tmp-ico v5 mgr10 mgb10"></i>
			<i class="tmp-ico v6 mgr10 mgb10"></i>
			<i class="tmp-ico v7 mgr10 mgb10"></i>
			<i class="tmp-ico v8 mgr10 mgb10"></i>
			<i class="tmp-ico v9 mgr10 mgb10"></i>
			<i class="tmp-ico v10 mgr10 mgb10"></i>
		
			<i class="tmp-ico v11 mgr10 mgb10"></i>
			<i class="tmp-ico v12 mgr10 mgb10"></i>
			<i class="tmp-ico v13 mgr10 mgb10"></i>
			<i class="tmp-ico v14 mgr10 mgb10"></i>
			<i class="tmp-ico v15 mgr10 mgb10"></i>
			<i class="tmp-ico v16 mgr10 mgb10"></i>
			<i class="tmp-ico v17 mgr10 mgb10"></i>
			<i class="tmp-ico v18 mgr10 mgb10"></i>
			<i class="tmp-ico v19 mgr10 mgb10"></i>
			<i class="tmp-ico v20 mgr10 mgb10"></i>
		
			<i class="tmp-ico v21 mgr10 mgb10"></i>
			<i class="tmp-ico v22 mgr10 mgb10"></i>
			<i class="tmp-ico v23 mgr10 mgb10"></i>
			<i class="tmp-ico v24 mgr10 mgb10"></i>
			<i class="tmp-ico v25 mgr10 mgb10"></i>
			<i class="tmp-ico v26 mgr10 mgb10"></i>
			<i class="tmp-ico v27 mgr10 mgb10"></i>
			<i class="tmp-ico v28 mgr10 mgb10"></i>
			<i class="tmp-ico v29 mgr10 mgb10"></i>
			<i class="tmp-ico v30 mgr10 mgb10"></i>

			<i class="tmp-ico v31 mgr10 mgb10"></i>
			<i class="tmp-ico v32 mgr10 mgb10"></i>
			<i class="tmp-ico v40 mgr10 mgb10"></i>
		</div>
<pre class="html">
Markup
<i class="tmp-ico v1"></i>
<i class="tmp-ico v2"></i>
<i class="tmp-ico v3"></i>
<i class="tmp-ico v4"></i>
<i class="tmp-ico v5"></i>
<i class="tmp-ico v6"></i>
<i class="tmp-ico v7"></i>
<i class="tmp-ico v8"></i>
<i class="tmp-ico v9"></i>
.
.
.
<i class="tmp-ico v32"></i>
<i class="tmp-ico v40"></i>

Option : Color (라임 / 화이트)
<i class="tmp-ico v1 lime"></i><!-- 클래스 lime 추가 -->
<i class="tmp-ico v2 white"></i><!-- 클래스 white 추가 -->
		</pre>
	</article>
</section>
