
<h1>UI Component </h1>
<section>
	<h2>Loader</h2>
	<p class="txt">현재 Icon은 하위 브라우져(IE9이하) 대응을 위해 sprite 이미지를 사용하고 있습니다. <br>
	기본 클래스는 tmp-ico로 정의하고 특정 네이밍을 부여하지 않고 v1~32까지 정의되어 있습니다. <br>
	inline-block속성이고 가로새로 24x24이며, 태그는 웹표준에 맞지 않으나 icon의 시멘틱 개념으로 i를 사용하고 있습니다. <br>
	기본 컬러값 : #111, 투명도 : 0.5 (화이트/라임 해당사항 없음)

	<br><br>
	
	* mobile이나 modern 브라우져에서 사용될 아이콘 폰트 제작 준비중
	</p>
	<article>
		<div class="cpn-ex">
			<h3>막대형</h3>
			<div class="tmp-loader mgb30"><strong style="width:70%"><span class="hide">80%</span></strong></div>
			<h3>이미지형</h3>
			<div class="tmp-loader img-type inblock mgr20"><strong style="height:0%"><span class="hide">0%</span></strong></div>
			<div class="tmp-loader img-type inblock mgr20"><strong style="height:55%"><span class="hide">55%</span></strong></div>
			<div class="tmp-loader img-type inblock"><strong style="height:100%"><span class="hide">100%</span></strong></div>
			<h3 class="mgt20">.gif 형</h3>
			<img class="mgb20" src="/mi13/img/guide/loader_sample.gif" alt="">
		</div>
<pre class="html">
Markup
<div class="tmp-loader"><strong style="width:70%"><span class="hide">80%</span></strong></div>
<div class="tmp-loader img-type"><strong style="height:55%"><span class="hide">55%</span></strong></div><!-- 클래스 img-type 추가 -->
		</pre>
	</article>

	<h2>Star Rate</h2>
	<article>
		<div class="cpn-ex">	
			준비중
		</div>
<pre class="html">
Markup
		</pre>
	</article>
</section>
