<link rel="stylesheet" type="text/css" href="css/import/tmp_new.css">
<link rel="stylesheet" type="text/css" href="css/import/default.css">
<script type="text/javascript" src="/public/src/js/g-ui.js"></script>

<h1>UI Component &gt; Tab</h1>
<section>
	<h2>Overview</h2>
	<p class="txt">현재 Icon은 하위 브라우져(IE9이하) 대응을 위해 sprite 이미지를 사용하고 있습니다. <br>
	기본 클래스는 tmp-ico로 정의하고 특정 네이밍을 부여하지 않고 v1~32까지 정의되어 있습니다. <br>
	inline-block속성이고 가로새로 24x24이며, 태그는 웹표준에 맞지 않으나 icon의 시멘틱 개념으로 i를 사용하고 있습니다. <br>
	기본 컬러값 : #111, 투명도 : 0.5 (화이트/라임 해당사항 없음)

	<!-- * mobile이나 modern 브라우져에서 사용될 아이콘 폰트 제작 준비중 -->
	</p>
</section>

<section>
	<h2>Normal</h2>
	<h3 class="design-view"><span>Design view</span></h3>
	<div class="cpn-ex">
		<div class="tmp-tab mgb30">
			<ul>
				<li class="on"><a href="#타겟"><strong>상세정보</strong></a></li>
				<li><a href="#타겟"><strong>상품평</strong><span class="cnt">19,223</span></a></li>
				<li><a href="#타겟"><strong>상품문의</strong><span class="cnt">671</span></a></li>
				<li><a href="#타겟"><strong>일반정보</strong></a></li>
				<li><a href="#타겟"><strong>배송/교환/반품</strong></a></li>
			</ul>
		</div>
		<div class="tmp-tab type2 mgb30">
			<ul>
				<li class="on"><a href="#타겟"><strong>상세정보</strong></a></li>
				<li><a href="#타겟"><strong>상품평</strong><span class="cnt">19,223</span></a></li>
				<li><a href="#타겟"><strong>상품문의</strong><span class="cnt">671</span></a></li>
				<li><a href="#타겟"><strong>일반정보</strong></a></li>
				<li><a href="#타겟"><strong>배송/교환/반품</strong></a></li>
			</ul>	
		</div>
		<div class="tmp-tab type3 mgb30">
			<ul>
				<li class="on"><a href="#타겟"><strong>상세정보</strong></a></li>
				<li><a href="#타겟"><strong>상품평</strong></a></li>
				<li><a href="#타겟"><strong>상품문의</strong></a></li>
				<li><a href="#타겟"><strong>일반정보</strong></a></li>
				<li><a href="#타겟"><strong>배송/교환/반품</strong></a></li>
			</ul>	
		</div>
		<div class="tmp-tab type4 mgb15">
			<ul>
				<li class="on"><a href="#타겟"><strong>상세정보</strong></a></li>
				<li><a href="#타겟"><strong>상품평</strong></a></li>
				<li><a href="#타겟"><strong>상품문의</strong></a></li>
				<li><a href="#타겟"><strong>일반정보</strong></a></li>
				<li><a href="#타겟"><strong>배송/교환/반품</strong></a></li>
			</ul>	
		</div>

	</div>
<pre class="html">
Default
<div class="tmp-tab">
	<ul>
		<li class="on"><a href="#타겟"><strong>탭메뉴1</strong></a></li>
		<li><a href="#타겟"><strong>탭메뉴2</strong></a></li>
		<li><a href="#타겟"><strong>탭메뉴3</strong></a></li>
		<li><a href="#타겟"><strong>탭메뉴4</strong><span class="cnt">671</span></a></li>
		<li><a href="#타겟"><strong>탭메뉴5</strong><span class="cnt">200</span></a></li>
	</ul>
</div>

Option/Expand
<div class="tmp-tab">코드생략</div><!-- Default -->
<div class="tmp-tab type2">코드생략</div><!-- 클래스 type2 추가 -->
<div class="tmp-tab type3">코드생략</div><!-- 클래스 type3 추가 -->
<div class="tmp-tab type4">코드생략</div><!-- 클래스 type4 추가 -->
</pre>

</section>

<section>
	<h2>Size</h2>
	<h3 class="design-view"><span>Design view</span></h3>
	<div class="cpn-ex">
		<div class="tmp-tab mgb20">
			<ul>
				<li class="on"><a href="#타겟"><strong>상세정보</strong></a></li>
				<li><a href="#타겟"><strong>상품평</strong><span class="cnt">19,223</span></a></li>
				<li><a href="#타겟"><strong>상품문의</strong><span class="cnt">671</span></a></li>
				<li><a href="#타겟"><strong>일반정보</strong></a></li>
				<li><a href="#타겟"><strong>배송/교환/반품</strong></a></li>
			</ul>
		</div>

		<div class="tmp-tab mid mgb20">
			<ul>
				<li class="on"><a href="#타겟"><strong>상세정보</strong></a></li>
				<li><a href="#타겟"><strong>상품평</strong><span class="cnt">19,223</span></a></li>
				<li><a href="#타겟"><strong>상품문의</strong><span class="cnt">671</span></a></li>
				<li><a href="#타겟"><strong>일반정보</strong></a></li>
				<li><a href="#타겟"><strong>배송/교환/반품</strong></a></li>
			</ul>
		</div>

		<div class="tmp-tab big  mgb10">
			<ul>
				<li class="on"><a href="#타겟"><strong>상세정보</strong></a></li>
				<li><a href="#타겟"><strong>상품평</strong><span class="cnt">19,223</span></a></li>
				<li><a href="#타겟"><strong>상품문의</strong><span class="cnt">671</span></a></li>
				<li><a href="#타겟"><strong>일반정보</strong></a></li>
				<li><a href="#타겟"><strong>배송/교환/반품</strong></a></li>
			</ul>
		</div>

	</div>
<pre class="html">
Default * Size (40 default)
<div class="tmp-tab">코드생략</div><!-- Default -->

Default * Size (30, 50)
<div class="tmp-tab mid">코드생략</div><!-- 클래스 mid 추가 -->
<div class="tmp-tab big">코드생략</div><!-- 클래스 big 추가 -->
</pre>

</section>
